.border-bottom {
    border-bottom: 1px solid #ccc !important;
  }
  
  input[type="radio"]:checked + div {
    background-color: #8dcfec;
    color: white;
    border-radius: 50%;
  }
  
  textarea {
    resize: none;
  }
  .background{
    color: '#C0DBE6'
  }